@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Routing

<nav class="nav flex-column p-3">
    <h5 class="text-white mb-4">Menu</h5>

    <NavLink href="/" class="nav-link text-white" Match="NavLinkMatch.All">
        Dashboard
    </NavLink>

    <NavLink href="/reports" class="nav-link text-white">
        Reports
    </NavLink>

    <NavLink href="/settings" class="nav-link text-white">
        Settings
    </NavLink>

    <hr />

    <NavLink href="/login" class="nav-link text-white">
        Login
    </NavLink>

    <NavLink href="/register" class="nav-link text-white">
        Register
    </NavLink>
</nav>
