@namespace Shared.UI.Nav

<nav>
    <ul class="nav-list">
        <li>
            <NavLink href="/" class="app-nav-link" activeClass="active">Home</NavLink>
        </li>
        <li>
            <NavLink href="/dashboard" class="app-nav-link" activeClass="active">Dashboard</NavLink>
        </li>
        <li>
            <NavLink href="/reports" class="app-nav-link" activeClass="active">Reports</NavLink>
        </li>
        <li>
            <NavLink href="/settings" class="app-nav-link" activeClass="active">Settings</NavLink>
        </li>
    </ul>
</nav>
